
                    </div>
                </div> 
                <footer class="footer">
                    © 2022 Zoogler by Mannatthemes.
                </footer>

            </div>
        </div>
        <script src="<%= basePath %>js/jquery.min.js"></script>
        <script src="<%= basePath %>js/popper.min.js"></script>
        <script src="<%= basePath %>js/bootstrap.min.js"></script>
        <script src="<%= basePath %>js/modernizr.min.js"></script>
        <script src="<%= basePath %>js/detect.js"></script>
        <script src="<%= basePath %>js/fastclick.js"></script>
        <script src="<%= basePath %>js/jquery.slimscroll.js"></script>
        <script src="<%= basePath %>js/jquery.blockUI.js"></script>
        <script src="<%= basePath %>js/waves.js"></script>
        <script src="<%= basePath %>js/jquery.scrollTo.min.js"></script>

        <!-- summernote required  -->
        <script src="<%= basePath %>plugins/summernote/summernote-bs4.min.js"></script>
        <script src="<%= basePath %>pages/form-summernote.js"></script>
        <!-- summernote required  -->

        <!-- dropify Upload required  -->
        <script src="<%= basePath %>plugins/dropify/js/dropify.min.js"></script>
        <script src="<%= basePath %>pages/dropify.init.js"></script>
        <!-- dropify Upload required  -->
        

        <!-- add more plugins  -->

        <!-- Required datatable js -->
        <script src="<%= basePath %>plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="<%= basePath %>plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="<%= basePath %>plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="<%= basePath %>plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="<%= basePath %>plugins/datatables/jszip.min.js"></script>
        <script src="<%= basePath %>plugins/datatables/pdfmake.min.js"></script>
        <script src="<%= basePath %>plugins/datatables/vfs_fonts.js"></script>
        <script src="<%= basePath %>plugins/datatables/buttons.html5.min.js"></script>
        <script src="<%= basePath %>plugins/datatables/buttons.print.min.js"></script>
        <script src="<%= basePath %>plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="<%= basePath %>plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="<%= basePath %>plugins/datatables/responsive.bootstrap4.min.js"></script>

        <!-- Datatable init js -->
        <script src="<%= basePath %>pages/datatables.init.js"></script>

        <!-- Plugins js -->
        <script src="<%= basePath %>plugins/timepicker/moment.js"></script>
        <script src="<%= basePath %>plugins/timepicker/tempusdominus-bootstrap-4.js"></script>
        <script src="<%= basePath %>plugins/timepicker/bootstrap-material-datetimepicker.js"></script>
        <script src="<%= basePath %>plugins/clockpicker/jquery-clockpicker.min.js"></script>
        <script src="<%= basePath %>plugins/colorpicker/jquery-asColor.js"></script>
        <script src="<%= basePath %>plugins/colorpicker/jquery-asGradient.js"></script>
        <script src="<%= basePath %>plugins/colorpicker/jquery-asColorPicker.min.js"></script>
        <script src="<%= basePath %>plugins/select2/select2.min.js"></script>

        <script src="<%= basePath %>plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
        <script src="<%= basePath %>plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="<%= basePath %>plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
        <script src="<%= basePath %>plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>

        <!-- Plugins Init js -->
        <script src="<%= basePath %>pages/form-advanced.js"></script> 
        
        <!-- App js -->
        <script src="<%= basePath %>js/app.js"></script>
        
    </body>
</html>